:root {
  --maincolor: #669cf4;
  --background: #35424a;
  --white: #f4f4f4;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; /* Satırlar arası boşluk */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  flex: 1; /* flex düzeninin esnemesini sağlıypurz */
}

/* header start */

header {
  background-color: var(--background);
  color: #fff;
  min-height: 70px;
  padding-top: 30px;
  border-bottom: var(--maincolor) 3px solid;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header ul {
  list-style-type: none;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
}

.highlight,
.current a {
  color: var(--maincolor);
  font-weight: bold;
}

/* showcase start */

#showcase {
  background: url(img/showcase.jpg) no-repeat 0 -400px;
  min-height: 400px;
  text-align: center;
  color: #fff;
}

#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

#newsletter {
  background-color: var(--background);
  color: var(--white);
  padding: 15px;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}
#newsletter input {
  height: 25px;
  width: 250px;
  padding: 4px;
}

.button-1 {
  background-color: var(--maincolor);
  color: #fff;
  height: 38px;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
}

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.box img {
  width: 90px;
}

/* ? services start */
#services li {
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 20px;
  margin-bottom: 10px;
}

.quat div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.quat input {
  padding: 5px;
}

/* ? footer start */
footer {
  background-color: var(--maincolor);
  padding: 15px;
  color: #fff;
  text-align: center;
  margin-top: auto;
}

.dark {
  background-color: var(--background);
  color: #fff;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#main-col {
  float: left; /* kapsayıcısı (container) içerisnde solda tarafda hizalan*/
  width: 60%;
}

#sidebar {
  float: right; /* kapsayıcısı (container) içerisnde  sağ tarafda hizalan*/
  width: 30%; /** geriye kalan %10 aralarındaki boşluklara verilir.*/
}

@media (max-width: 768px) {
  #main-col,
  #sidebar,
  nav,
  #branding {
    /* her iki taraftaki floatları kaldırmam gerekli,normal html kuralları geçerli olmalı,  yoksa biri diğerinin üstüne çıkar*/
    float: none;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  #header-container {
    flex-direction: column;
  }

  nav ul {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}
